<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="social-icons">
					<div class="container">
					  <ul class="list-inline d-flex justify-content-center">
					    <li class="list-inline-item">
					      <a href="https://discord.gg/5XkvsEmMab" target="_blank">
					        <img src="/assets/img/discord.png" alt="Logo"/>
					      </a>
					    </li>
					    <li class="list-inline-item">
					      <a href="https://twitter.com/sarcophagusio" target="_blank">
					        <img src="/assets/img/twitter.png" alt="Logo"/>
					      </a>
					    </li>
					    <li class="list-inline-item">
					      <a href="https://github.com/sarcophagus-org" target="_blank">
					        <img src="/assets/img/github.png" alt="Logo"/>
					      </a>
					    </li>
					    <li class="list-inline-item">
					      <a href="https://t.me/sarcophagusio" target="_blank">
					        <img src="/assets/img/telegram.png" alt="Logo"/>
					      </a>
					    </li>
					    <li class="list-inline-item">
					      <a href="https://www.reddit.com/r/sarcophagusio/" target="_blank">
					        <img src="/assets/img/reddit.png" alt="Logo"/>
					      </a>
					    </li>
					    <li class="list-inline-item">
					      <a href="youtube: https://www.youtube.com/channel/UCkiWEIFJEaRP9kwprIve7_w" target="_blank">
					        <img src="/assets/img/youtube.png" alt="Logo"/>
					      </a>
					    </li>
					    <li class="list-inline-item">
					      <a href="https://medium.com/sarcophagus-community" target="_blank">
					        <img src="/assets/img/medium.png" alt="Logo"/>
					      </a>
					    </li>

					  </ul>
					</div>
				</div>
			</div>
		</div> <!-- social row -->

		<div class="row">
			<div class="col-12 col-xl-6">
				<div class="row">
					<div class="col-3">
						<img src="/assets/img/sarco-logo-white.png" alt="Logo" class="img-fluid"/>

					</div>
					<div class="col-9">
						<p>Sarcophagus is a 100% open-source project using the Unlicense. It has been built by a global team of software developers, crypto enthusiasts and security experts. It has not yet been audited; use at your own risk.</p>
					</div>
				</div>
			</div>

			<div class="col-xl-1">
			</div>


			<div class="col-6 col-xl-2">
				<ul class="footer-links">
					<li><a href="#">Home</a></li>
					<li><a href="https://sarcopahgus.notion.site/Sarcophagus-Documentation-9d9044719669401a8738a1b9059333cf" target="_blank">Documentation</a></li>
					<li><a href="/assets/pdf/sarcophagus_litepaper_v0.2.pdf" target="_blank">Litepaper</a></li>
					<li><a href="https://etherscan.io/token/0x7697b462a7c4ff5f8b55bdbc2f4076c2af9cf51a" target="_blank">Etherscan Token Tracker</a></li>

				</ul>
			</div>

			<div class="col-6 col-xl-2">
				<ul class="footer-links">
					<li><a href="https://app.dev.sarcophagus.io/" target="_blank">Goerli Testnet App</a></li>
					<li><a href="/" target="_blank">Mainnet ETH App (coming soon)</a></li>
					<li><a href="https://govern.sarcophagus.io/" target="_blank">Governance Staking</a></li>
					<li><a href="https://client.aragon.org/#/sarcophagus/" target="_blank">Governance Voting</a></li>
				</ul>
			</div>
		</div> <!-- desc + link row -->
	</div>
</div>


<script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
