<div class="container sarco-footer">
  <div class="row">
    <div class="col-2">
      <img src="assets/img/tablet_footer.gif" class="img-fluid"/>
    </div>

    <div class="col-4 pt-5">
      <p>Sarcophagus is a 100% open source project built under the Unlicense. It has been built by a global team of software developers, crypto enthusiasts and security experts.</p>
    </div>

    <div class="col-1 pt-5">
    </div>

    <div class="col pt-5">
      <ul>
        <li><a href="#" target="_blank">Telegram Chat</a></li>
        <li><a href="#" target="_blank">Twitter</a></li>
        <li><a href="#" target="_blank">Medium Posts</a></li>
        <li><a href="#" target="_blank">GitHub</a></li>
        <li><a href="#" target="_blank">.onion Site</a></li>
        <li><a href="#" target="_blank">Arweave Site</a></li>
      </ul>
    </div>

    <div class="col pt-5">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">How It Works</a></li>
        <li><a href="#">SARCO Token</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</div>
