<div class="container sarco-footer">
  <div class="row">
    <div class="col-md-2 d-none d-sm-block">
      <img src="/marketing_site/assets/img/tablet_footer.gif" class="img-fluid"/>
    </div>

    <div class="col-md-4 pt-5">
      <p>Sarcophagus is a 100% open source project using the <a href="https://en.wikipedia.org/wiki/Unlicense" target="_blank">Unlicense</a>. It has been built by a global team of software developers, crypto enthusiasts and security experts. It has not yet been audited, use at your own risk.</p>
    </div>

    <div class="col-hidden col-md-1 pt-5">
    </div>

    <div class="col pt-5">
      <ul class="pl-0">
        <li><a href="https://t.me/sarcophagusio" target="_blank">Telegram Chat</a></li>
        <li><a href="#" target="_blank">Twitter</a></li>
        <li><a href="#" target="_blank">Medium Posts</a></li>
        <li><a href="https://github.com/sarcophagus-org" target="_blank">GitHub</a></li>
        <li><a href="http://eepurl.com/hbvV55" target="_blank">Email Updates</a></li>
        <li><a href="#" target="_blank">.onion Site</a></li>
        <li><a href="#" target="_blank">Arweave Site</a></li>
      </ul>
    </div>

    <div class="col pt-5">
      <ul class="pl-0">
        <li><a href="/">Home</a></li>
        <li><a href="/how_it_works">How It Works</a></li>
        <li><a href="/sarco_token">SARCO Token</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</div>
