<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description}}">
  <link rel="shortcut icon" href="{{ "/assets/img/favicon.png" | relative_url }}" type="image/x-icon">
  <link rel="icon" href="{{ "/assets/img/favicon.png" | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <meta property="og:title" content="Sarcophagus Dead Man's Switch dApp">
  <meta property="og:site_name" content="Sarcophagus">
  <meta property="og:url" content="https://sarcophagus.io">
  <meta property="og:description" content="Sarcophagus is an autonomous, incentivized dead man's switch dApp built on Ethereum and Arweave.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://sarcophagus.io/assets/img/social_og.png">



<!--
..######.....###....########...######...#######..########..##.....##....###.....######...##.....##..######.
.##....##...##.##...##.....##.##....##.##.....##.##.....##.##.....##...##.##...##....##..##.....##.##....##
.##........##...##..##.....##.##.......##.....##.##.....##.##.....##..##...##..##........##.....##.##......
..######..##.....##.########..##.......##.....##.########..#########.##.....##.##...####.##.....##..######.
.......##.#########.##...##...##.......##.....##.##........##.....##.#########.##....##..##.....##.......##
.##....##.##.....##.##....##..##....##.##.....##.##........##.....##.##.....##.##....##..##.....##.##....##
..######..##.....##.##.....##..######...#######..##........##.....##.##.....##..######....#######...######.

A decentralized dead man's switch

telegram: https://t.me/sarcophagusio

discord: https://discord.gg/XPNKEZW

contact: nospam@sarcophagus.io

-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: OpenPGP.js v4.10.7
Comment: https://openpgpjs.org

xjMEX0RtehYJKwYBBAHaRw8BAQdAHT2CAePaeVHyMtIMbGsN8aaATyz5DkQ0
TNVpV3SRSGjNLW5vc3BhbUBzYXJjb3BoYWd1cy5pbyA8bm9zcGFtQHNhcmNv
cGhhZ3VzLmlvPsKPBBAWCgAgBQJfRG16BgsJBwgDAgQVCAoCBBYCAQACGQEC
GwMCHgEAIQkQHLZa1vaeT7gWIQRw0cZDu2CCF27JK3UctlrW9p5PuGyqAQDp
9bpd1gd6/BU3s1vgAf9RTXp+0zk4gRLeIE3jQxAHRAEAxJ5T2DbSNuwuyKV3
NDxhfbjhtwRCpPYfoWrOXMrntwHOOARfRG16EgorBgEEAZdVAQUBAQdAVawc
58xyjpS+j/7zunaSbGFxUj2y51VbzbcONcy7wF0DAQgHwngEGBYIAAkFAl9E
bXoCGwwAIQkQHLZa1vaeT7gWIQRw0cZDu2CCF27JK3UctlrW9p5PuBq3AQDq
ds+8Kf2wxfrqZWw0VpGrxeuv5s7+qS0PhedIVP7z/wD9EFqanhQK7y7E9/pR
1Mw4/KIWYeSXCayoOwSIpPn5ZgU=
=J1Ok
-----END PGP PUBLIC KEY BLOCK-----

-->


</head>
