<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sarcophagus - Crypto Dead Man's Swtitch</title>
  <meta name="description" content="Sarcophagus is an autonomous, incentivized dead man's switch dApp built on Ethereum and Arweave.">
  <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

  <!-- add random css style overrides -->
  <script>
    window.onload = function() {
        var styles = ['{{ site.baseurl }}/assets/css/bluegreen.css', '{{ site.baseurl }}/assets/css/greenyellow.css', '{{ site.baseurl }}/assets/css/blackpurple.css', '{{ site.baseurl }}/assets/css/goldyellow.css', '{{ site.baseurl }}/assets/css/browntan.css']; // your CSS filenames
        var style = styles[Math.floor(Math.random() * styles.length)]; // select a random filename
        var link = document.createElement('link');
        
        link.rel = 'stylesheet';
        link.href = style;
        
        document.head.appendChild(link); // append the link element to the head
    };
  </script>


  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180877699-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-180877699-1');
  </script>

  <!-- Twitter conversion tracking base code -->
  <script>
  !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
  },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='https://static.ads-twitter.com/uwt.js',
  a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
  twq('config','okx0w');
  </script>
  <!-- End Twitter conversion tracking base code -->






<!--
   ▄▄▄▄▄   ██   █▄▄▄▄ ▄█▄    ████▄ █ ▄▄   ▄  █ ██     ▄▀    ▄      ▄▄▄▄▄
  █     ▀▄ █ █  █  ▄▀ █▀ ▀▄  █   █ █   █ █   █ █ █  ▄▀       █    █     ▀▄
▄  ▀▀▀▀▄   █▄▄█ █▀▀▌  █   ▀  █   █ █▀▀▀  ██▀▀█ █▄▄█ █ ▀▄  █   █ ▄  ▀▀▀▀▄
 ▀▄▄▄▄▀    █  █ █  █  █▄  ▄▀ ▀████ █     █   █ █  █ █   █ █   █  ▀▄▄▄▄▀
              █   █   ▀███▀         █       █     █  ███  █▄ ▄█
             █   ▀                   ▀     ▀     █         ▀▀▀
            ▀                                   ▀

A decentralized dead man's switch

telegram: https://t.me/sarcophagusio

discord: https://discord.gg/XPNKEZW

contact: nospam@sarcophagus.io

-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: OpenPGP.js v4.10.7
Comment: https://openpgpjs.org

xjMEX0RtehYJKwYBBAHaRw8BAQdAHT2CAePaeVHyMtIMbGsN8aaATyz5DkQ0
TNVpV3SRSGjNLW5vc3BhbUBzYXJjb3BoYWd1cy5pbyA8bm9zcGFtQHNhcmNv
cGhhZ3VzLmlvPsKPBBAWCgAgBQJfRG16BgsJBwgDAgQVCAoCBBYCAQACGQEC
GwMCHgEAIQkQHLZa1vaeT7gWIQRw0cZDu2CCF27JK3UctlrW9p5PuGyqAQDp
9bpd1gd6/BU3s1vgAf9RTXp+0zk4gRLeIE3jQxAHRAEAxJ5T2DbSNuwuyKV3
NDxhfbjhtwRCpPYfoWrOXMrntwHOOARfRG16EgorBgEEAZdVAQUBAQdAVawc
58xyjpS+j/7zunaSbGFxUj2y51VbzbcONcy7wF0DAQgHwngEGBYIAAkFAl9E
bXoCGwwAIQkQHLZa1vaeT7gWIQRw0cZDu2CCF27JK3UctlrW9p5PuBq3AQDq
ds+8Kf2wxfrqZWw0VpGrxeuv5s7+qS0PhedIVP7z/wD9EFqanhQK7y7E9/pR
1Mw4/KIWYeSXCayoOwSIpPn5ZgU=
=J1Ok
-----END PGP PUBLIC KEY BLOCK-----

-->


</head>
<body>
