<div id="nav">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark">
		  <div class="container-fluid">
		    <!-- Logo -->
		    <a class="navbar-brand" href="/">
		      <img src="{{ site.baseurl }}/assets/img/sarco-logo-white.png" alt="Logo"/>
		    </a>

		    <!-- Navbar links -->
		    <div class="justify-content-end" id="navbarNav">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link" href="https://sarcopahgus.notion.site/Sarcophagus-Documentation-9d9044719669401a8738a1b9059333cf" target="_blank">Documentation</a>
		        </li>
		        <li class="nav-item">
		          <a class="app-link-button" href="https://app.dev.sarcophagus.io/" target="_blank">Go to App</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>
</div>