/* 

Black:
#0D0E15

Purple:
#C4C4F0


*/

.app-link-button {
	border: 3px solid #C4C4F0!important;
}

.app-link-button:hover {
	background-color: #C4C4F0!important;

}

.accent-bg-hero {
	background-color: #C4C4F0!important;
}

#forDevs {
	background-color: #0D0E15!important;
}

.dev-link {
	border: 4px solid #C4C4F0!important;
}

.dev-arrow .bi-arrow-up-right {
	color: #C4C4F0!important;
}

#useCases {
	background-color: #0D0E15!important;
}

.accent-bg-trans {
	background-color: rgba(196, 196, 240, 0.8)!important;
}

#footer {
	background-color: #0D0E15!important;
}

.footer-links { 
	border-left: 3px solid #C4C4F0!important;
}