---
layout: default
---
<div id="blog-post">
  <article>

    <header>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-8">
              <p><a href="{{site.baseurl}}/blog">&larr; Back to posts</a></p>
              <h1>{{ page.title | escape }}</h1>
              <p class="">
                <time datetime="{{ page.date | date_to_xmlschema }}">
                  {%- assign date_format = "%b %-d, %Y" -%}
                  {{ page.date | date: date_format }}
                </time>
                {%- if page.author -%}
                  by {{ page.author }}
                {%- endif -%}
              </p>
            </div>
          </div>
        </div>
      </section>
    </header>


    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            {{ content }}
          </div>
        </div>
        </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
          </div>
            <div class="col-md-8">
              <h3>Connect:</h3>
              <ul>
                <li><a href="https://discord.gg/XPNKEZW" target="_blank">Discord</a></li>
                <li><a href="https://t.me/sarcophagusio" target="_blank">Telegram</a></li>
                <li><a href="https://twitter.com/sarcophagusio" target="_blank">Twitter</a></li>
                <li><a href="https://github.com/sarcophagus-org" target="_blank">GitHub</a></li>
                <li><a href="https://etherscan.io/token/0x7697b462a7c4ff5f8b55bdbc2f4076c2af9cf51a" target="_blank">Etherscan</a></li>
              </ul>
            </div>
          </div>
        </div>
    </section>



  </article>
</div>